<div class="app-actions">
    <div class="lighting mode" [ngClass]="{ active: mode() === 'lighting' }">
        <div>
            <h3>Set Shift Lighting</h3>
        </div>
        <div class="options">
            <select class="animation-type" [(ngModel)]="animationType" (change)="setAnimationValueOptions($event)">
                <!-- <option [value]="-1">None</option> -->
                @for (item of animationService.animationTypes; track item.name; let idx = $index) {
                <option [value]="idx">{{item.name}}</option>
                }
            </select>

            <select class="animation-value" [ngStyle]="{ display: +animationType === 0 ? 'none' : 'inline' }"
                (change)="showLighting()" [(ngModel)]="stateService.selectedValue">
                @for (
                item of animationService.range(
                animationService.animationTypes[+animationType].range[0],
                animationService.animationTypes[+animationType].range[1]
                );
                track item
                ) {
                <option [value]="item">{{ item }}</option>
                }
            </select>
        </div>
    </div>

    <div class="shift mode" [ngClass]="{ active: mode() === 'switchType' }">
        <h3>Choose Encoder Type</h3>

        <select class="switch-value" [(ngModel)]="stateService.selectedValue">
            <option value="CC">CC</option>
            <option value="3FH/41H">ENC 3FH/41H</option>
        </select>
    </div>

    <div class="shift mode" [ngClass]="{ active: mode() === 'shift' }">
        <h3>Set Shift Modifiers</h3>
        <p>Select the switches<br>that enable shift mode</p>
    </div>

    <div class="midi mode" [ngClass]="{ active: mode() === 'midi' }">
        <h3>Set Midi Values</h3>
        <p>Set values and min/max limits</p>
    </div>

    <div class="edit mode" [ngClass]="{ active: mode() === 'edit' }">
        <h3>Edit Actions</h3>
        <p>Add labels for switch, encoder<br>and super knob actions,<br>
        Click the shift icon to add shift actions</p>
    </div>

    <!-- <div class="edit mode" [ngClass]="{ active: mode() !== 'performance' }">
        <div>
            <img id="cancel" class="cancel" src="./assets/cancel.svg" (click)="cancelEdit()" alt="cancel" />
        </div>
    </div> -->
</div>

@if (midiService.selectedOutputDevice()) {
<div class="midi-out">
    <span>
        Midi Out</span>
    <select class="device-out" [(ngModel)]="midiService.selectedOutputDevice">
        <option [value]="0">None</option>
        @for (device of midiService.midiDevices; track device.outputId) {
        <option [value]="device">{{device.name}}</option>
        }
    </select>
    <div class="indicator" [ngStyle]="{display: this.showMessage() ? 'block' : 'none'}">
        ch: {{midiService.midiOutMessage()?.channel}} cc: {{midiService.midiOutMessage()?.cc}} velocity:
        {{midiService.midiOutMessage()?.velocity}}
    </div>
</div>
}
<!-- </div> -->