img {
    height: 30px;
}

.message {
    display: none;

    &.active {
        display: block;
    }
}

.midi-out {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.85rem;
}

.app-actions {
    position: absolute;
    left: 16px;
    top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    p {
        font-size: 0.85rem;
    }

    img {
        cursor: pointer;
    }

    select {
        height: 30px;
    }

    h3 {
        margin: 4px 0 8px;
        padding: 0;
    }

    .mode {
        display: none;
        min-width: 40px;
        padding: 0 8px;

        &.active {
            display: block;

            .options {
                display: flex;
            }
        }

        select {
            margin-right: 16px;;
        }
    }
}
