<div class="app-actions">
    <div class="performance mode" [ngClass]="{ active: mode() === 'performance' }">
        <img id="open" src="./assets/folder.svg" (click)="openFile()" />
        <img id="edit" src="./assets/edit.svg" (click)="setMode('edit')" />
        <img id="lighting" src="./assets/bulb.svg" (click)="mode.set('lighting')" />
        <img id="shift" src="./assets/shift.svg" (click)="mode.set('shift')" />
        <img id="midi" src="./assets/midi-port.svg" (click)="mode.set('midi')" />
    </div>
    <div class="lighting mode" [ngClass]="{ active: mode() === 'lighting' }">
        <select class="animation-type" [(ngModel)]="animationType" (change)="setAnimationValueOptions($event)">
            @for (item of animationService.animationTypes; track item.name; let idx = $index) {
            <option [value]="idx">{{item.name}}</option>
            }
        </select>

        <select class="animation-value" [ngStyle]="{ display: +animationType === 0 ? 'none' : 'inline' }"
            (change)="showLighting()" [(ngModel)]="animationValue">
            @for (
            item of animationService.range(
            animationService.animationTypes[+animationType].range[0],
            animationService.animationTypes[+animationType].range[1]
            );
            track item
            ) {
            <option [value]="item">{{ item }}</option>
            }
        </select>
    </div>
    <div class="shift mode" [ngClass]="{ active: mode() === 'shift' }">
        <div>
            <input type="radio" id="shift-true" selected name="shift" [value]="true" [(ngModel)]="isShift" />
            <label for="shift-true">Shift</label>
        </div>
        <div>
            <input type="radio" id="shift-false" name="shift" [value]="false" [(ngModel)]="isShift" />
            <label for="shift-false">Normal</label>
        </div>
    </div>

    <div class="edit mode" [ngClass]="{ active: mode() !== 'performance' }">
        <div>
            <img id="cancel" class="cancel" src="./assets/cancel.svg" (click)="cancelEdit()" />
        </div>
        <div>
            <img id="update" class="save" src="./assets/save.svg" (click)="saveValues()" />
        </div>
    </div>
</div>
<div class="system-actions">
    <div>
        <img class="refresh" src="./assets/refresh.svg" (click)="refresh()" />
        <img class="info" src="./assets/info.svg" (click)="toggleMessageDisplay()" />
    </div>
    @if (midiService.selectedOutputDevice()) {
    <div class="midi-out">
        <span>
        Midi Out</span>
        <select class="device-out" [(ngModel)]="midiService.selectedOutputDevice">
            <option [value]="0">None</option>
            @for (device of midiService.midiDevices; track device.outputId) {
            <option [value]="device">{{device.name}}</option>
            }
        </select>
        <div class="indicator" [ngStyle]="{display: this.showMessage() ? 'block' : 'none'}">
            ch: {{midiService.midiOutMessage()?.channel}} cc: {{midiService.midiOutMessage()?.cc}} velocity: {{midiService.midiOutMessage()?.velocity}}
        </div>
    </div>
    }
</div>