<div #mfContainer class="mf-container">
	<app-settings #settings [activeBank]="activeBank()" 
		[selectedEncoders]="selectedEncoders()" [(mode)]="mode"
		[(rgbActive)]="rgbActive" [(indicatorActive)]="indicatorActive" />

	@if (controllerConfigService.controllerData().bank) {
	<div class="title" [ngClass]="{'inactive': !midiService.midiFighterAvailable()}">
		<h2>
			@if (mode() !== 'edit') {
			{{ controllerConfigService.controllerData()!.title }}
			} @else {
			<input [(ngModel)]="controllerConfigService.controllerData()!.title" />
			}
		</h2>
		<div class="cable">
			<div>x</div>
			<img src="./assets/usb-cable.svg" />
		</div>
	</div>

	<div class="sub-title">
		<h3>Bank {{activeBank() + 1}}</h3>
		<img src="./assets/shift.svg" [ngClass]="{'visible': mode() === 'edit', 'active': shiftActive()}"
			(click)="shiftActive.set(!shiftActive())" title="Edit Shift labels" />
	</div>

	@if (settings.showMessage()) {
	{{message()?.actionType}} ch: {{message()?.channel}} cc: {{message()?.cc}} velocity: {{message()?.velocity}}
	}

	<div class="controller">
		<div class="side">
			@for (button of controllerConfigService.controllerData()![actionType()][activeBank()].leftSide; track $index) {
				<app-side-button [mode]="mode()" [button]="button" side="left" [(activeBank)]="activeBank"  />
			}
		</div>
		<div class="encoders" [ngClass]="{ active: mode() === 'lighting' }">
			@for (
			encoder of controllerConfigService.controllerData()![actionType()][activeBank()].encoder;
			let idx = $index;
			track encoder.cc
			) {
			<app-encoder [index]="idx" [(selectedEncoders)]="selectedEncoders" [mode]="mode()" [encoder]="encoder"
				[rgbActive]="rgbActive()" [indicatorActive]="indicatorActive()" [activeBank]="activeBank()"
				 />
			}
		</div>
		<div class="side">
			@for (button of controllerConfigService.controllerData()![actionType()][activeBank()].rightSide; track $index) {
				<app-side-button [mode]="mode()" [button]="button" side="right" [(activeBank)]="activeBank"  />
			}
		</div>
	</div>
	}
</div>